.dashboard {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.error-images {
  margin-top: 10%;
  width: 200px;
  height: auto;
}

.dashboard h1 {
  color: #00301de5;
  font-family: "Pokemon Solid", sans-serif;
  animation: blurIn 0.5s ease-in-out;
  filter: drop-shadow(6px 20px 3px rgba(0, 0, 0, 0.5));
}

.dashboard h2 {
  margin-top: -20px;
  font-family: "Pokemon Solid", sans-serif;
  animation: blurIn 0.5s ease-in-out;
  filter: drop-shadow(6px 20px 3px rgba(0, 0, 0, 0.5));
}

.dashboard-widgets {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-bottom: 5%;
  gap: 30px;
  justify-content: center;
}

.chargeImg {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  grid-column: 1 / -1;
  align-items: center;
}

.chargeImg img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.chargeImg {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  grid-column: 1 / -1;
  align-items: center;
}

.chargeImg img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 15%;
}

/*# styles responsive  */

@media (max-width: 720px) {
  .dashboard-widgets {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 480px) {
  .dashboard {
    gap: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .dashboard-widgets {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 2fr));
    gap: 20px;
    margin-left: 10px;
    margin-right: 20px;
  }
}
