.dashboard {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.dashboard h1 {
  color: #333;
}

.dashboard-widgets {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  );
  gap: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination li {
  list-style: none;
  margin: 0 5px;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.pagination li.active {
  background-color: #7db364;
  color: #fff;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: auto;
  max-height: auto;
  overflow-y: auto;
  padding: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cardInfo-container {
  height: 100%;
  display: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.modal-image {
  width: 500px;
  height: 500px;
  object-fit: contain;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.418);
  background-color: #fff;
  margin-top: 50px;
  margin-right: 10px;
  margin-left: 10px;
  
}

.modal-icon {
  width: 15px;
  height: 15px;
  margin-top: 10px;
  margin-right: 2px;  
}

.name {
  position: absolute;
  top: 5px;
  margin-left: 0px;
}

.name h2{
  font-size: 34px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.description {
  bottom: 13px;
  display: flex;
  align-items: center; 
  border-radius: 34px;
  width: 500px;
  margin-top: 10px;
  overflow: hidden;
}

.description h3{
  margin-left: 10px;
  font-size: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
}

.typeIcon {
  display: flex; 
  margin-left: 2px;
  margin-right: 8px;
  cursor: pointer; 
  margin-bottom: 10px;
}

.iconBotton {
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.typeFilter-button {
  height: 40px;
  width: 170px;
  border-radius: 5px;
  margin-top: 10px; 
  border: 2px solid #ddd;
  color: #ddd;
  justify-content: center;
  padding: 0 10px;
  cursor: pointer;  
}


.stats {
  width: 500px;
  display: row;
  margin-top: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  bottom: 13px;
  border-radius: 20px;
}

.stats h3 {
  margin-left: 10px;
  font-size: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.info-stats {
  margin-bottom: 10px;
  display: flex;
  margin-left: 10px;
  bottom: 49px;
  margin-left: 13px;
  margin-right: 13px;
  font-size: 12px;
  color: #ddd;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.data-stats {
  border-radius: 34px;
  padding: 7px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 12px;
  overflow: hidden;
  color: #000000;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.search-input {
  width: 90%;
  margin-top: 20px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  margin-bottom: 10px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.search-input:focus {
  outline: none;
  border-color: #7db364;
}

.search-input::placeholder {
  color: #ddd;
}

.search-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.typeFilter-container {
  position: absolute;
  background-color: rgb(245, 221, 221);
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 100%;
}

.typeFilter-container.open {
  max-width: 200px;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-top: 1px;
}

/*# styles responsive  */

@media (max-width: 768px) {
  .modal {
    max-width: 100%;
    max-height: 100%;
  }

  .modal-image {
    width: 95%;
    height: 300px;
  }

  .description, .stats {
    width: 80%;
  }

  .name h2 {
    font-size: 24px;
  }

  .description h3, .stats h3, .info-stats, .data-stats {
    font-size: 10px;
  }
  
  .typeIcon {
    flex: 0 0 calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .modal {
    max-width: 100%;
    max-height: 100%;
  }

  .modal-image {
    width: 94%;
    height: 250px;
  }

  .description, .stats {
    width: 100%;
  }

  .name h2 {
    font-size: 20px;
  }

  .description h3, .stats h3, .info-stats, .data-stats {
    font-size: 8px;
  }

  .typeIcon {
    flex: 0 0 calc(100% - 10px);
  }
}
