.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  max-width: auto;
  max-height: auto;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: spinIn 0.8s ease;
}

.modal h3 {
  margin-left: 10px;
  font-size: 12px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.modal-image {
  position: relative;
  width: 500px;
  height: 400px;
  object-fit: contain;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.418);
  background-color: rgba(255, 255, 255, 0.596);
  margin-top: 50px;
  margin-right: 10px;
  margin-left: 10px;
  animation: blurIn 0.7s ease-in;
}

.range-container {
  position: relative;
  width: 90%;
  height: 10px;
  background-color: var(--max-color, gray);
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}

.category,
.stats-number {
  padding: 0 1px;
  font-size: 12px;
}

.range-fill {
  height: 100%;
  background-color: var(--value-color, blue);
  width: var(--percentage, 0%);
  transition: width 0.2s ease;
}

.range-slide {
  width: 100%;
  padding: 8px;
}

.range-slide-fill {
  position: relative;
  height: 5px;
  border-radius: 10px;
  width: var(--percentage);
}

.range-slide-fill::after {
  width: 90%;
  border-spacing: 0 1vh;
}

.range-slide-fill::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  border-radius: 2px;
}

.name {
  top: 5px;
  margin-left: 0px;
  letter-spacing: 0.2rem;
  position: absolute;
  margin-top: -10px;
  left: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  text-transform: capitalize;
  font-family: "Pokemon Solid", sans-serif;
}

.description {
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 4vh;
  width: 500px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.596);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.418);
}

.weaknes {
  align-items: center;
  margin-left: 10px;
  right: 10px;
  margin-top: 1px;
  display: flex;
  gap: 8px;
}

.weaknes div > img {
  margin-top: 1px;
  width: 20px;
  height: 20px;
  filter: drop-shadow(3px 4px 2px rgba(0, 0, 0, 0.5));
}

.icon {
  z-index: 1;
  position: absolute;
  right: 20px;
  margin-top: 30px;
  display: flex;
  gap: 2px;
}

.icon div {
  display: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 10px 10px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.418);
}

.icon div > img {
  margin-right: 10px;
  margin-top: 1px;
  width: 20px;
  height: 20px;
}

.stats {
  display: flex;
  overflow: hidden;
  margin-bottom: 10px;
  width: 500px;
  height: 300px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.596);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.418);
}

.info-stats {
  width: 250px;
  height: 250px;
}

.table-container {
  box-shadow: 2px 2px 2px rgba(175, 175, 175, 0.418);
  max-width: 250px;
  height: 90%;
  margin-top: 20%;
  padding-left: 10px;
  justify-content: center;
}

.table-container .table {
  width: 200px;
  height: auto;
}

.table-container .table th,
.table-container .table td {
  padding: 20px;
}

.table-container .table tr {
  width: 90%;
  height: 10px;
}

.transforms {
  width: 250px;
  height: 250px;
}

.info-stats h1,
.transforms h1 {
  max-width: 250px;
  max-height: 10px;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 15px;
  font-family: "Pokemon Solid", sans-serif;
  letter-spacing: 0.2rem;
}

.transforms-images {
  margin-top: 10%;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 250px;
  max-height: 250px;
  overflow-y: auto;
  margin-top: -10px;
  margin-left: -10px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  animation: blurIn 0.8s ease-in;
}

.grid-item img {
  filter: drop-shadow(4px 8px 1px rgba(0, 0, 0, 0.5));
}

.grid-container::-webkit-scrollbar {
  width: 1px;
  background-color: #bad1f700;
}

.grid-container::-webkit-scrollbar-thumb {
  background-color: #bad1f700;
  border-radius: 4px;
}

.grid-container::-webkit-scrollbar-thumb:hover {
  background-color: #b8b6b600;
}

.grid-container::-webkit-scrollbar-track {
  background-color: #f8f2f200;
}

.transforms-image {
  max-width: 100px;
  height: 60px;
}

.data-stats {
  border-radius: 34px;
  padding: 7px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 12px;
  overflow: hidden;
  color: #000000;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@keyframes spinIn {
  0% {
    transform: translate(-50%, -50%) rotateY(0deg);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) rotateY(360deg);
    opacity: 1;
  }
}

.modal.exit {
  animation: spinOut 0.5s ease-in;
}

@keyframes spinOut {
  0% {
    transform: translate(-50%, -50%) rotateY(0deg);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) rotateY(-360deg);
    opacity: 0;
  }
}

@keyframes blurIn {
  0% {
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

.cardInfo {
  margin-right: 10px;
  margin-left: 10px;
}

.range-slide .normal,
.icon .normal {
  background: #707055;
}
.range-slide .fire,
.icon .fire {
  background: #ff6a00;
}
.range-slide .water,
.icon .water {
  background: #4169c7;
}
.range-slide .electric,
.icon .electric {
  background: #aa8b10;
}
.range-slide .grass,
.icon .grass {
  background: #559436;
}
.range-slide .ice,
.icon .ice {
  background: #98d8d8;
}
.range-slide .fighting,
.icon .fighting {
  background: #c03028;
}
.range-slide .poison,
.icon .poison {
  background: #bd41bd;
}
.range-slide .ground,
.icon .ground {
  background: #99813f;
}
.range-slide .flying,
.icon .flying {
  background: #a890f0;
}
.range-slide .psychic,
.icon .psychic {
  background: #f85888;
}
.range-slide .bug,
.icon .bug {
  background: #909c1d;
}
.range-slide .rock,
.icon .rock {
  background: #b8a038;
}
.range-slide .ghost,
.icon .ghost {
  background: #705898;
}
.range-slide .dark,
.icon .dark {
  background: #705848;
}
.range-slide .steel,
.icon .steel {
  background: #4c4c50;
}
.range-slide .dragon,
.icon .dragon {
  background: #ff0037;
}
.range-slide .fairy,
.icon .fairy {
  background: #db4791;
}

@media screen and (max-width: 768px) {
  .modal {
    width: 300px;
    height: 500px;
    padding: 0;
    margin: 0;
    display: inline-table;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 400px;
    margin-right: 20%;
    margin-top: 10%;
    border-radius: 20px;
    align-items: center;
    padding: 2px;
  }

  .modal h3 {
    margin-left: 10px;
    font-size: 8px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .info-stats {
    color: #000000;
    width: 160px;
    margin-bottom: 2px;
    display: flex;
    margin-left: 1px;
  }

  .modal-image {
    width: 100%;
    height: 200px;
    margin-left: 1px;
  }

  .description {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 1px;
  }

  .stats {
    margin-left: 1px;
    width: 100%;
    display: inline-flex;
  }

  .info-stats table {
    width: 100%;
    margin-top: 20px;
  }

  .description h3,
  .stats h3,
  .info-stats,
  .data-stats {
    font-size: 9px;
  }

  .transforms {
    width: 100%;
    height: 250px;
  }

  .transforms-images {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 125px;
    max-height: 250px;
    overflow-y: auto;
    margin-top: -5px;
    margin-left: -10px;
  }

  .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .transforms-image {
    margin-top: 1px;
    max-width: 50px;
    max-height: 55px;
  }

  .weaknes {
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    right: 10px;
    margin-top: -2px;
    display: flex;
    gap: 4px;
  }

  .weaknes div > img {
    width: 12px;
    height: 12px;
    filter: drop-shadow(3px 4px 2px rgba(0, 0, 0, 0.5));
  }
}

@media screen and (max-width: 430px) {
  .cardInfo {
    width: 94%;
  }

  .modal {
    width: 300px;
    height: 500px;
    padding: 0;
    margin: 0;
    display: inline-table;
    top: 40%;
    left: 50%;
    max-width: 100%;
    max-height: 400px;
    margin-right: 20%;
    margin-top: 10%;
    border-radius: 20px;
    align-items: center;
    padding: 2px;
  }

  .modal h3 {
    margin-left: 10px;
    font-size: 8px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .name {
    width: 100%;
    margin-top: 5px;
    max-height: 20px;
    font-size: 0.8rem;
    text-overflow: ellipsis;
  }

  .modal-image {
    width: 100%;
    height: 200px;
    margin-left: 1px;
  }

  .description {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 1px;
  }

  .stats {
    margin-left: 1px;
    width: 100%;
    height: 250px;
  }

  .info-stats {
    color: #000000;
    width: 160px;
    margin-bottom: 2px;
    display: flex;
    margin-left: 1px;
  }

  .info-stats h1,
  .transforms h1 {
    max-width: 100%;
    max-height: 10px;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 13px;
    font-family: "Pokemon Solid", sans-serif;
    letter-spacing: 0.3rem;
  }

  .info-stats table {
    max-width: 140px;
    margin-top: 6px;
    margin-left: -60px;
  }

  .description h3,
  .stats h3,
  .info-stats,
  .data-stats {
    font-size: 9px;
  }

  .transforms {
    max-width: 140px;
    height: 250px;
  }

  .transforms-images {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 140px;
    max-height: 210px;
    overflow-y: auto;
    margin-top: 5px;
    margin-left: auto;
  }

  .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .transforms-image {
    margin-top: 1px;
    max-width: 50px;
    max-height: auto;
  }
}
