/* Estilos para la barra de navegación (NavBar) */
.navbar {
  background-color: var(--olivine-100);
  padding: 1px 0;
  top: 0;
  left: 0;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-left: 2px;
  padding: 0;
}

.nav-item {
  margin: 0 5px;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.nav-item a:hover {
  border-bottom: 2px solid var(--olivine-900);
}


@media (max-width: 768px) {
  .nav-list {
    display: flex;
    align-items: center;
    margin-left: 0;
  }

  .nav-item {
    margin: 5px 0;
  }
}