.types-Bar {
  display: inline-flex;
  padding: 10px 1vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 20px;
  background: #d2e6fc;
  border-radius: 40px;
  animation: blurIn 0.5s ease-in-out;
  filter: drop-shadow(6px 20px 7px rgba(0, 0, 0, 0.5));
}

.typeIcon {
  display: flex;
  margin-left: 2px;
  margin-right: 8px;
  cursor: pointer;
  margin-bottom: 10px;
}

.Img-type {
  display: flex;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  padding: 0.7vw;
  cursor: pointer;
  border-radius: 100%;
  background: currentColor;
  filter: drop-shadow(3px 2px 2px rgba(0, 0, 0, 0.5));
}

.Img-type:hover {
  transform: scale(1.2);
  filter: drop-shadow(7px 6px 10px rgba(0, 0, 0, 0.5));
}

.Img-type img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  filter: drop-shadow(3px 2px 2px rgba(0, 0, 0, 0.5));
}

.typeName {
  font-family: 'Pokemon Solid', sans-serif;
  position: absolute;
  top: -30px; /* Ajusta este valor según sea necesario */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(250, 249, 249, 0);
  color: rgb(0, 0, 0);
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 15px;
  white-space: nowrap;
}


.types-Bar .normal {
  background: #a8a878;
}
.types-Bar .fire {
  background: #f08030;
}
.types-Bar .water {
  background: #6890f0;
}
.types-Bar .electric {
  background: #f8d030;
}
.types-Bar .grass {
  background: #78c850;
}
.types-Bar .ice {
  background: #98d8d8;
}
.types-Bar .fighting {
  background: #c03028;
}
.types-Bar .poison {
  background: #a040a0;
}
.types-Bar .ground {
  background: #e0c068;
}
.types-Bar .flying {
  background: #a890f0;
}
.types-Bar .psychic {
  background: #f85888;
}
.types-Bar .bug {
  background: #a8b820;
}
.types-Bar .rock {
  background: #b8a038;
}
.types-Bar .ghost {
  background: #705898;
}
.types-Bar .dark {
  background: #705848;
}
.types-Bar .steel {
  background: #b8b8d0;
}
.types-Bar .dragon {
  background: #ee99ac;
}
.types-Bar .fairy {
  background: #d685ad;
}

@media (max-width: 768px) {
  .types-Bar {
    padding: 20px 2vw;
  }
  .Img-type {
    width: 30px;
    height: 30px;
    padding: 0.7vw;
    margin-top: 5px;
  }

  .Img-type img {
    width: auto;
    height: 60%;
    margin-top: 5px;
  }
}

@media screen and (max-width: 430px) {
  .types-Bar {
    padding: 10px 1.5vw;
  }
  .Img-type {
    width: 20px;
    height: 20px;
    padding: 0.4vw;
    margin-top: 4px;
  }

  .Img-type img {
    width: auto;
    height: 50%;
    margin-top: 4px;
  }
}
